body {
  background: white;
  width: auto;
  margin: 0 auto; }

main {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4, 1f;
  grid-template-rows: auto;
  grid-template-areas: "main-title main-title main-title main-title" "about about about about" "quote quote quote quote" "job-experience job-experience job-experience skills" "education education extracurricular extracurricular";
  text-align: center; }

header {
  position: sticky;
  top: 0; }
  header nav {
    background-color: #006699;
    display: flex;
    justify-content: space-evenly;
    padding: 20px; }
    header nav a {
      text-decoration: none;
      color: white; }
  header h1 {
    text-align: center; }

#about {
  grid-area: about;
  display: flex;
  max-width: 1200px; }
  #about #about__photo_do_perfil {
    max-width: 200px;
    height: auto; }
  #about #about__text_cnt {
    background-color: white;
    padding: 50px; }

#quote {
  grid-area: quote;
  background-color: #0b1949;
  text-align: center;
  color: white;
  padding: 20px 0; }
  #quote #quote__cite {
    font-style: italic;
    font-size: 1.5em; }

#job-experience {
  grid-area: job-experience;
  background-color: #caf3ee;
  padding: 20px; }
  #job-experience #job-experience__experience {
    display: grid;
    grid-template-columns: 6, 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: "job-experience_cesan job-experience_cesan job-experience_guimar job-experience_guimar job-experience_logos job-experience_logos"; }
    #job-experience #job-experience__experience .job-exp_jobs {
      border-radius: 10px;
      background-color: #c4e2e6;
      padding: 10px; }
      #job-experience #job-experience__experience .job-exp_jobs .job-exp_company {
        max-height: 70px;
        width: auto; }
    #job-experience #job-experience__experience #job-experience_cesan {
      grid-area: job-experience_cesan;
      text-align: center; }
    #job-experience #job-experience__experience #job-experience_guimar {
      grid-area: job-experience_guimar;
      text-align: center; }
    #job-experience #job-experience__experience #job-experience_logos {
      text-align: center;
      grid-area: job-experience_logos; }

#skills {
  grid-area: skills;
  background-color: #24445a;
  padding: 20px; }

#education {
  grid-area: education;
  background-color: white;
  padding: 20px; }
  #education #education__college {
    grid-area: college;
    background-color: #006699;
    color: white; }

#extracurricular {
  grid-area: extracurricular;
  background-color: white;
  padding: 20px; }
  #extracurricular #extracurricular_div1 {
    color: white;
    background-color: #006699; }

footer {
  background-color: black;
  display: flex;
  color: white;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 10px 10px; }
  footer #fotter__social-medias .footer__social-medias-icons {
    max-width: 40px;
    height: auto; }
  footer #fotter__email-phone p {
    margin: 0 auto; }

@media screen and (max-width: 480px) {
  main {
    grid-template-columns: 100%;
    grid-template-areas: "main-title" "about" "quote" "job-experience" "education" "extracurricular" "skills" "footer"; }

  #about {
    flex-flow: column wrap;
    justify-content: center; }
    #about #about__photo_do_perfil {
      max-width: 250px;
      margin: 0 auto; }
    #about #about__text_cnt {
      padding: 20px; }

  #quote {
    grid-area: quote;
    background-color: #003366;
    text-align: center;
    color: white;
    padding: 20px 0; }
    #quote #quote__cite {
      font-style: italic;
      font-size: 1.5em; }

  #job-experience #job-experience__experience {
    grid-template-columns: 100%;
    grid-template-areas: "job-experience_cesan" "job-experience_guimar" "job-experience_logos"; }
    #job-experience #job-experience__experience #job-experience_cesan, #job-experience #job-experience__experience #job-experience_guimar, #job-experience #job-experience__experience #job-experience_logos {
      display: flex;
      align-items: center; }

  #footer {
    flex-flow: column wrap; } }

/*# sourceMappingURL=style.css.map */
